@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import "../../node_modules/bulma/sass/utilities/initial-variables";

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$green: #1dd1a1;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $green;
$link: $green;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

//Card
.card {
  &:hover {
    background-color: #f7f1e3;
  }
}

@import "~medium-draft/lib/index.css";

@import "../../node_modules/bulma/bulma";
